Tugas 4 Pemasaran AI_Nazwa Gita Naysilla.json
{
  "name": "Tugas 4 Pemasaran AI_Nazwa Gita Naysilla",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "1a7a1be6-dbc6-44d3-b03d-5775413abcab",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1O6bvyOxev5FjFT_pwvkNRfuV6pW2kVFomyeR43iFYds",
          "mode": "list",
          "cachedResultName": "Auto Posting Scheduler 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O6bvyOxev5FjFT_pwvkNRfuV6pW2kVFomyeR43iFYds/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1439141610,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O6bvyOxev5FjFT_pwvkNRfuV6pW2kVFomyeR43iFYds/edit#gid=1439141610"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "e30ab4c9-c0af-4bd2-b719-02d6907b7d3d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zEcek1zhDQrJqOMy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst postsToSend = [];\n\n// Waktu sekarang (Jakarta)\nconst now = new Date();\n\nfor (const item of items) {\n  const row = item.json;\n\n  const dateStr = row['Scheduled Date']; // contoh: 11/02/2026\n  const timeStr = row['Scheduled Time']; // contoh: 09:30:00\n\n  if (row.Status === 'Pending' && dateStr && timeStr) {\n\n    // Pecah tanggal (dd/MM/yyyy)\n    const [day, month, year] = dateStr.split('/');\n\n    // Gabungkan ke format ISO biar kebaca Date\n    const formattedDate = `${year}-${month}-${day}T${timeStr}`;\n\n    const scheduledTime = new Date(formattedDate);\n\n    // Validasi\n    if (!isNaN(scheduledTime) && scheduledTime <= now) {\n      postsToSend.push(item);\n    }\n  }\n}\n\nreturn postsToSend;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "c6f9a630-5271-4cbb-9908-9d31fed0540c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "6604808187",
        "text": "={{ $json.Content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        0
      ],
      "id": "4fe1b361-a3b0-4e11-a92b-334c45a5aa56",
      "name": "Send a text message",
      "webhookId": "86b9b3a5-bf02-46fa-8822-3832f7f21641",
      "credentials": {
        "telegramApi": {
          "id": "cwccRW86FVKEomEo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cbabd778-80f4-4bb7-be60-c787ff126a7e",
              "name": "row_number",
              "value": "={{ $('Code in JavaScript').item.json.row_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        0
      ],
      "id": "aaa3cbdd-b100-4a2b-90a5-1c37f0dce40a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1O6bvyOxev5FjFT_pwvkNRfuV6pW2kVFomyeR43iFYds",
          "mode": "list",
          "cachedResultName": "Auto Posting Scheduler 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O6bvyOxev5FjFT_pwvkNRfuV6pW2kVFomyeR43iFYds/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1439141610,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O6bvyOxev5FjFT_pwvkNRfuV6pW2kVFomyeR43iFYds/edit#gid=1439141610"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Code in JavaScript').item.json.ID }}",
            "Status": "Published"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scheduled Date",
              "displayName": "Scheduled Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scheduled Time",
              "displayName": "Scheduled Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        0
      ],
      "id": "7c0eb30c-ec7f-473f-b44a-76b558024411",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zEcek1zhDQrJqOMy",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bce5f3aa-0c55-4649-904b-a17ff2d42ef1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "45f3c68741ebd8d61cd31f7b60028f923de681a6edb22f25ea63c0ae4d7c83de"
  },
  "id": "9REyZb1anJKS8q7W",
  "tags": []
}